body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efefef;
}

h1 {
  color: rgb(65, 63, 63);
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  background-color: #fcfcfc;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  height: 60px;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-high-rise-building-good-weather-gradient-cloud-buildinggood-weathersuncloudgradientlight-blue-image_51494.jpg");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
}

#weather {
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(65, 63, 63);
}

.btn {
  height: 35px;
  width: 100px;
  color: white;
  font-size: 16px;
  background-color: rgb(66, 66, 219);
  border: none;
  border-radius: 10px;
}

#inputText {
  height: 35px;
  padding-left: 10px;
  border: 1px solid rgb(66, 66, 219);
  border-radius: 10px;
}
